.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .login-container-form-box {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: black;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    font-family: 'Roboto', sans-serif;
  }

  .login-title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: -5px;

  }

  .login-fields {
    width: 100%;
  }

  .login-error {
    list-style: none;
    padding: 0;
    margin: 0;
    color: red;
  }

  .email-fields,
  .password-fields {
    margin-bottom: 15px;
  }

  .email-fields label,
  .password-fields label {
    display: block;
    margin-bottom: 5px;
  }

  .email-fields input,
  .password-fields input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .login-submit-button {
    margin-bottom: 15px;
  }

  .login-button {
    display: block;
    margin: 50px auto 0 auto;
    margin-top: 10px;
    width: 120px;
    height: 33px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

  .login-button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .demo-user-container {
    text-align: center;
    color: black;
  }

  .demo-user-button {
    border: none;
    text-decoration: none;
    text-align: center;
    color: #333;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }

  .demo-user-button:hover {
    color: white;
  }
