.update-review-modal-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
}

.update-review-container {
  margin-bottom: 20px;
}

.update-review-textarea {
  width: 80%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.submit-update-review-button {
  background-color: grey;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}

.submit-update-review-button:hover {
  color: white
}

.update-purchase-line {
  font-family: sans-serif;
}







/* .main-update-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgray;
  }

  .review-update-box {
    width: 80%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }

  .update-review-form-container {
    margin-top: 20px;
  }

  .update-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .errors {
    color: red;
  }

  .update-review-button {
     margin-top: 10px;
  } */
