.review-modal-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgray;
  }

  .review-container {
    margin-bottom: 20px;
  }

  .review-textarea {
    width: 80%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }

  .submit-review-button {
    background-color: grey;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }

  .submit-review-button:hover {
    color: white
  }

.purchase-line {
    font-family: 'Roboto', sans-serif;
}

/* .review-modal-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
  position: relative;
}

.close-review-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-review-modal-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
} */
