
.photocard-img {
  width: 150px;
  height: 250px;
  border-radius: 20px;
  padding: 10px 10px 0 10px;
  object-fit: cover;
}


.photocard-list-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.main-landing-page {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
  background-color: lightgray;
}

.photocard-nav-link {
  text-decoration: none;
  color: black;
}
