.photocard-img {
    width: 130px;
    height: 200px;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
    object-fit: cover;
  }


.photocard-list-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
  }
