.title-photocard-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photocard-name-line {
  text-align: center;
  /* text-decoration: underline; */
  margin-left: 0;
}

.single-img-line img {
  width: 330px;
  height: 500px;
  border-radius: 20px;
  padding: 10px 10px 0 10px;
  object-fit: cover;
}

.main-single-card-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  /* border: 2px solid black; */
  border-radius: 20px;
  width: fit-content;
}

.price-card {
  margin-right: 5px;
}

.description-line {
  width: 105px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.bold-text {
  font-weight: bold;
}
