.single-img-line img {
  width: 330px;
  height: 500px;
  border-radius: 20px;
  padding: 10px 10px 0 10px;
  object-fit: cover;
}

.main-single-card-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  width: fit-content;
  /* margin-top: 100px; */
}

.photocard-name-line {
  margin-left: 45px;
  text-decoration: underline;
}


.price-card-container {
  display: flex;
  align-items: center;
}

.price-card {
  margin-right: 5px;
}

.description-card-container {
  display: flex;
  align-items: center;
}

.price-card {
  margin-right: 5px;
}

 .price-card {
  font-weight: bold;
}
