.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-link {
  text-decoration: none;
}

#logo-name-container {
  color: black;
}

#logo-container {
  border: 1px solid transparent;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  margin-right: auto;
}

.main-page-title {
  margin-top: 0px;
  margin: auto;
}

.fa {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 25px;
}

.greeting-box {
  font-family: 'Roboto', sans-serif;
  border: 1.5px solid black;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
  margin-top: 150px;
  margin-left: 50px;
}

.profile-icons-container {
  margin-left: auto;
}

/* #login-button-container {
  display: flex;
  height: 40px;
  width: 40px;
  margin-left: auto;
} */

.profile-button-container {
  display: flex;
  height: 40px;
  width: 40px;
  margin-left: auto;
}

.bars-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.login-container {
  display: flex;
  justify-content: flex-end;
}

.rounded-icon-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.manage-line {
  text-decoration: none;
  color: rgb(68, 70, 74);
  font-weight: bold;
  cursor: pointer;
}

.log-in-pop-up {
  background-color: grey;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin-right: 2px;
  margin-bottom: 2px;
}

.sign-up-pop-up {
  background-color: grey;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin-right: 2px;
  margin-top: 2px;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
}

.log-out-button {
  background-color: grey;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.log-out-button:hover,
.log-in-pop-up:hover,
.sign-up-pop-up:hover {
  color: white;
}

.manage-line:hover {
  color: black;
}

.login-signup-container {
  margin-top: 110px;
  margin-left: 50px;
}

.photocard-link {
  text-decoration: none;
  color: black;
  background-color: grey;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: fit-content;
}
