.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#login-button-container {
  cursor: pointer;
}

#logo-container > a {
  text-decoration: none;
}

#create-photocard-container > a,
#manage-your-photocard-container > a,
#update-photocard-container > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
