.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Sign-up-title {
    text-align: center;
  }

  .signup-errors {
    color: red;
    margin-top: 5px;
  }

