.delete-review-modal {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.yes-delete-review {
    padding: auto;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 30px

}

.no-delete-review {
    padding-left: auto;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 30px;
}

.yes-delete-review:hover,
.no-delete-review:hover {
    color: white;
}

.close-review-modal {
    position: relative;
}
